<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
#helo{
    text-align: center;
    color: blueviolet;
    background-color: yellow;
}
    </style>
</head>
<body>
    <h1>hello world</h1>

    <form action="" method="GET">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="address">Address</label>
        <input type="text" name="address" id="address">

        <button type="submit">Submit</button>
        <a href="#"></a>
    </form>
<div id="helo">
    username is <strong> {{username_data}}</strong>
   address is <strong> {{address_data}}</strong>
</div>
</body>
</html>